@media only screen and (orientation: landscape){

	:root {
	  --width: 11vw;
	  --scaler: vw;
	}
	@media (scripting:none){
		#blackout {
			animation-name: lightflicker;
		}
	}


	body {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.pinboard{
		position: fixed;
		background-image: url(./images/background1.jpg);
		width: 100%;
		height: 100%;
		margin: 0;
		background-repeat: repeat;
		background-size: 40vw;
		border: 1.5625vw solid transparent;
		border-image: url(./images/border1.jpg) 24% round;
		box-sizing: border-box;
		box-shadow: inset 0.1041665vw 0.1041665vw 0.833332vw 0.0520834vw black;
	}

	.photocont {
		position: fixed;
		background-image: url(./images/polaroid.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		width: var(--width);
		height: calc((var(--width) / 427) * 516);
		filter: brightness(0.9);
		box-shadow: 0.2604169vw 0.2604169vw 0.520833vw black, inset -1px -1px 0px 0px black;
		z-index: 100;
		background-color: black;
	}

	.tutorialcont {
		position: fixed;
		background-image: url(./images/tutorial.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: var(--width);
		height: calc((var(--width) / 438) * 264);
		filter: brightness(0.9);
		box-shadow: 0.2604169vw 0.2604169vw 0.520833vw black, inset -1px -1px 0px 0px black;
		bottom: 5vh;
		right: 3vw;
		pointer-events: none;
		user-select: none;
		z-index: 500;
	}

	.photo {
		position: relative;
		left: calc(var(--width)*0.069);
		top: calc(var(--width)*0.065);
		background-color: #000000;
		background-repeat: no-repeat;
		background-size: cover;
		width: calc(var(--width)*0.877);
		height: calc(var(--width)*0.898);
	}

	.tutorialcont::before{
		background-image: url(./images/pin.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: var(--width);
		height: calc(var(--width)*0.17365);
		top: calc(var(--width)*-0.052085);
		content:
		" ";
		position: fixed;
		z-index: 20;
		background-position-x: center;
	}
	.tutorialcont::before{
		filter: hue-rotate(
	141deg);
	}

	.photocont:hover {
		filter: brightness(1);
		z-index: 500;
	}

	.crafty-girls-regular {
	  font-family: "Crafty Girls", cursive;
	  font-weight: 400;
	  font-style: normal;
	}
	.phototext {
		position: fixed;
		width: 100%;
		height: 20.5%;
		bottom: 0;
		box-sizing: border-box;
		padding: 5% 10%;
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: calc(var(--width)/10);
		color: black;
	}
	.tutorialtext {
		position: fixed;
		width: 100%;
		height: 100%;
		bottom: 0;
		box-sizing: border-box;
		padding: 5% 10%;
		display: flex;
		align-items: center;
		font-size: calc(var(--width)/11);
		color: black;
	}



	.pin {
		background-image: url(./images/pin.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: calc(var(--width)/6.863);
		height: calc(var(--width)*0.17365);
		z-index: 300;
		position: fixed;
		pointer-events: none;
	}




	#blackout {
		background: #000000;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1000;
		pointer-events: none;
		animation-duration: 4s;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
	}

	.blackout2 {
		position: fixed;
		top: -19.9vh;
		left: -48vw;
		width: 0;
		height: 0;
		border-left: 50vw solid transparent;
		border-right: 39vw solid transparent;
		border-top: 140vh solid #00000075;
		filter: blur(2vw);
	}

	.blackout3 {
		position: fixed;
		top: -19.9vh;
		right: -48vw;
		width: 0;
		height: 0;
		border-right: 50vw solid transparent;
		border-left: 39vw solid transparent;
		border-top: 140vh solid #00000075;
		filter: blur(2vw);
	}




	@keyframes lightflicker{
		0% {background-color:#000000FF;}
		80% {background-color:#0000003d;}
		85% {background-color:#00000078;}
		90% {background-color:#0000003d;}
		95% {background-color:#00000078;}
		100% {background-color:#00000000;}
	}


	#photo0{
		position: fixed;
		left: 20vw;
		top: 20vw;
	}

	#str0a, #str0b{
		height: 24vw;
		transform: rotate(130deg);
		left: calc((var(--width)/2.1) + 20vw);
		top: calc((var(--width) / 53.8) + 20vw);
	}

	#pin0 {
		left: calc((var(--width)/2.3) + 20vw);
		top: calc((var(--width) / -22) + 20vw);
	}


	#photo1{
		position: fixed;
		left: 40vw;
		top: 12vw;
	}

	#str1a, #str1b {
		height: 22.1vw;
		transform: rotate(68.1deg);
		left: calc((var(--width)/2.1) + 40vw);
		top: calc((var(--width) / 53.8) + 12vw);
	}
	#pin1 {
		left: calc((var(--width)/2.3) + 40vw);
		top: calc((var(--width) / -22) + 12vw);
	}



	#photo2{
		position: fixed;
		left: 2vw;
		top: 5vw;
	}

	#str2a, #str2b {
		height: 39vw;
		transform: rotate(280.5deg);
		left: calc((var(--width)/2.1) + 2vw);
		top: calc((var(--width) / 53.8) + 5vw);
	}

	#pin2 {
		left: calc((var(--width)/2.3) + 2vw);
		top: calc((var(--width) / -22) + 5vw);
	}

	@keyframes spin{
		from {transform: rotate(0deg);}
		50% {transform: rotate(180deg);}
		to {transform: rotate(365deg);}}
		
	.string {
		z-index: 200;
		position: fixed;
		width: calc(var(--width) / 22);
		background-color: red;
		transform-origin: 50% calc(var(--width) / 44);
		border-radius: calc(var(--width) / 11);
		pointer-events: none;
	}
}











@media only screen and (orientation: portrait){
	:root {
  --width: 11vh;
  --scaler: vh;
}
@media (scripting:none){
	#blackout {
		animation-name: lightflicker;
	}
}



body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.pinboard{
	position: fixed;
	background-image: url(./images/background1.jpg);
	width: 100%;
	height: 100%;
	margin: 0;
	background-repeat: repeat;
	background-size: 40vh;
	border: 1.5625vh solid transparent;
	border-image: url(./images/border1.jpg) 24% round;
	box-sizing: border-box;
	box-shadow: inset 0.1041665vh 0.1041665vh 0.833332vh 0.0520834vh black;
}

.photocont {
	position: fixed;
	background-image: url(./images/polaroid.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--width);
	height: calc((var(--width) / 427) * 516);
	filter: brightness(0.9);
	box-shadow: 0.2604169vh 0.2604169vh 0.520833vh black, inset -1px -1px 0px 0px black;
	z-index: 100;
	background-color: black;
}



.photo {
	position: relative;
	left: calc(var(--width)*0.069);
	top: calc(var(--width)*0.065);
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(var(--width)*0.877);
	height: calc(var(--width)*0.898);
}

.tutorialcont::before{
    background-image: url(./images/pin.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--width);
    height: calc(var(--width)*0.17365);
    top: calc(var(--width)*-0.052085);
    content:
    " ";
    position: fixed;
    z-index: 20;
    background-position-x: center;
}
.tutorialcont::before{
	filter: hue-rotate(
141deg);
}

.photocont:hover {
	filter: brightness(1);
	z-index: 500;
}

.crafty-girls-regular {
  font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
}
.phototext {
    position: fixed;
    width: 100%;
    height: 20.5%;
    bottom: 0;
    box-sizing: border-box;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: calc(var(--width)/10);
	color: black;
}
.tutorialtext {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    box-sizing: border-box;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    font-size: calc(var(--width)/11);
    color: black;
}



.pin {
    background-image: url(./images/pin.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(var(--width)/6.863);
    height: calc(var(--width)*0.17365);
    z-index: 300;
    position: fixed;
    pointer-events: none;
}

.tutorialcont {
	position: fixed;
	background-image: url(./images/tutorial.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--width);
	height: calc((var(--width) / 438) * 264);
	filter: brightness(0.9);
	box-shadow: 0.2604169vw 0.2604169vw 0.520833vw black, inset -1px -1px 0px 0px black;
	bottom: 5vw;
	right: 3vh;
	pointer-events: none;
	user-select: none;
	z-index: 500;
}

#blackout {
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.blackout2 {
    position: fixed;
    top: -19.9vh;
    left: -48vw;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 39vw solid transparent;
    border-top: 140vh solid #00000075;
    filter: blur(2vw);
}


.blackout3 {
    position: fixed;
    top: -19.9vh;
    right: -48vh;
    width: 0;
    height: 0;
    border-right: 50vh solid transparent;
    border-left: 39vh solid transparent;
    border-top: 140vh solid #00000075;
    filter: blur(2vh);
}




@keyframes lightflicker{
	0% {background-color:#000000FF;}
	80% {background-color:#0000003d;}
	85% {background-color:#00000078;}
	90% {background-color:#0000003d;}
	95% {background-color:#00000078;}
	100% {background-color:#00000000;}
}


#photo0{
	position: fixed;
	left: 20vh;
	top: 20vh;
}

#str0a, #str0b{
	height: 24vh;
	transform: rotate(130deg);
	left: calc((var(--width)/2.1) + 20vh);
	top: calc((var(--width) / 53.8) + 20vh);
}

#pin0 {
	left: calc((var(--width)/2.3) + 20vh);
    top: calc((var(--width) / -22) + 20vh);
}


#photo1{
	position: fixed;
    left: 40vh;
    top: 12vh;
}

#str1a, #str1b {
	height: 22.1vh;
	transform: rotate(68.1deg);
	left: calc((var(--width)/2.1) + 40vh);
	top: calc((var(--width) / 53.8) + 12vh);
}
#pin1 {
	left: calc((var(--width)/2.3) + 40vh);
    top: calc((var(--width) / -22) + 12vh);
}



#photo2{
	position: fixed;
    left: 2vh;
    top: 5vh;
}

#str2a, #str2b {
	height: 39vh;
	transform: rotate(280.5deg);
	left: calc((var(--width)/2.1) + 2vh);
	top: calc((var(--width) / 53.8) + 5vh);
}

#pin2 {
	left: calc((var(--width)/2.3) + 2vh);
    top: calc((var(--width) / -22) + 5vh);
}

@keyframes spin{
	from {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	to {transform: rotate(365deg);}}
	
.string {
    z-index: 200;
	position: fixed;
    width: calc(var(--width) / 22);
    background-color: red;
    transform-origin: 50% calc(var(--width) / 44);
    border-radius: calc(var(--width) / 11);
    pointer-events: none;
}
}